       <!--::footer_part start::-->
       <footer class="footer_part">

        <br><br><br>
        <br><br><br>
          <div class="container">
            <div class="row" >
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part" >
                  <a href="/" class="footer_logo_iner">
                    <img src="/images/logoTest2.png" width="150px" height="100px" alt="hamrolifebank_logo_dark" />
                  </a>
                  <h4>About Us</h4>
                  <p style="color: #666;">
                    A social initiative for a smart, transparent and holistic blood management service from
                    collection to supply.
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                  <h4>Contact Info</h4>
                  <p style="color: #666;">Address : A-123, Block-123,<br />Karachi, Pakistan.</p>
                  <p style="color: #666;">US Address : 12723 GORMAN <br />CIR BOYDS, MD 20841</p>
                  <p style="color: #666;">Phone : +92 1234567890</p>
                  <p style="color: #666;">Email : <a style="color: #444;" href="mustafaalvi21@gmail.com">team@bloodtransfusion.com</a></p>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                  <h4>Resources</h4>
                  <ul style="color: #666;" class="list-unstyled">
                    <li>Blood basics </li>
                    <li>Blood bank information </li>
                    <li>When you need blood </li>
                    <li>Reports </li>
                    <li>Videos </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                  <h4>Newsletter</h4>
                  <p style="color: #666;">
                    Subscribe to our Newsletter and get the latest updates about
                    <span class="hamro">Blood Transfusion</span>
                    Lifebank.
                  </p>
                </div>
                <br />
                <div>
                      <h4>Follow Us</h4>
                      <ul class="social-network social-circle">
                       <li style="width: 40px; height: 40px;"><a href="https://www.facebook.com/profile.php?id=100009246540814"  class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                       <li style="width: 40px; height: 40px;"><a href="https://mail.google.com/mail/u/0/#inbox" class="icogoogle" title="Google"><i class="fa fa-google"></i></a></li>
                       <li style="width: 40px; height: 40px;"><a href="https://github.com/MustafaAlvi21" class="icogithub" title="Github"><i class="fa fa-github"></i></a></li>
                      </ul>
                </div>
              </div>
            </div>
            <hr />
        
            <div class="row">
              <div class="col">
                <div class="copyright_text">
                 <center>
                    <P>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                          document.write(new Date().getFullYear());
                        </script>
                        <a id="rumsan" href="https://rumsan.com/" target="_blank">Musto Developers</a>
                        | All rights reserved |
                        <a href="/privacy-policy" target="_blank" id="rumsan">Privacy Policy</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </P>
                 </center>
                </div>
              </div>
             
            </div>
          </div>
        </footer>
