<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Transfusion</title>
</head>
<body style="font-family: 'Roboto';">

    <%- include('../partials/header.ejs') %>


    <%- body %>


    <%- include('../partials/sidebar.ejs') %>


    <%- include('../partials/footer.ejs') %>
        
</body>
</html>