<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- Footer icon -->
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
     <!-- font  family -->
     <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
      <style>
    </style>
    
    <!-- ----------------------------   hehehe   -------------------------------------------- -->
    <body style="background-color:rgb(239, 239, 246);">
    <!-- -------------------------------------------- -->
            <!--  s t a r t   o f   l o g i n   f o r m   -->
            <div class="  mx-auto" >
              <div class="row mx-auto" >
                <div class="loginbox mx-auto col-lg-5 col-sm-7 mx-auto">
                  <div class="col-md-12 mb-3">
                  <!-- <div class="panel panel-info"> -->
                    <!-- </div> -->
                  </div>
                  <center>
                  <h1>Donor Registration page </h1>
                </center>
                  <form style="border-top: grey 2px  groove;" action="/Add-password" id="passwordForm" method="POST">
                    <% if(msg != ''){ %>
                      <br>
                      <div class="alert alert-success alert-dismissible">
                        <strong>      
                    <%= msg %>
                        </strong>
                    </div>
                      <% } %>
                    <br>
                    <div class="mb-3">
                      <label for="validationServerUsername">Name of Category</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-user"></span> </span>
                        </div>
                        <input type="text" class="form-control " name="passwordCategoryName" placeholder="Like: Password of facebook, gmail, instagram etc" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Enter category of password.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Email Address</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-envelope"></span> </span>
                        </div>
                        <input type="email" class="form-control " name="EmailAddress" placeholder="___@___.com" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Enter category of password.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon  glyphicon-star-empty"></span> </span>
                        </div>
                        <input type="password" class="form-control " name="userPasswordName" placeholder="Password" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Please enter correct password.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Recovery Email Address</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-envelope"></span> </span>
                        </div>
                        <input type="email" class="form-control " name="RecoveryEmailAddress" placeholder="___@___.com" aria-describedby="inputGroupPrepend3" >
                        <div class="invalid-feedback">
                          Enter category of password.   
                        </div>
                      </div>
                    </div>
                      <div class="mb-3">
                        <label for="validationServerUsername">Password Details</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-floppy-disk"></span> </span>
                          </div>
                          <textarea class="form-control" name="passwordDetailsName"placeholder="Hints or Date of birth other details" id="editor1"></textarea>
                          <div class="invalid-feedback">
                            Please enter correct password.
                          </div>
                        </div>
                      </div>
                      <div class="col">
                          <button class="btn btn-primary" type="submit" value="Add categore">Add Password</button>
                      </div>
                    </form>
                  
                </div>
                </div>
              </div>
        <!--    e n d   o f   f o r m    -->
          
     
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>
