<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <!-- Footer icon -->
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
          <!-- font  family -->
          <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
<style>
  .btn1{
    background-color: #ffffff;
    color: #cf3d3c;
  } .btn1:hover{
    background-image: linear-gradient(-90deg, #cf3d3c,rgba(238, 212, 66, 0.774),gold);
    border: 0px;
  }
  .btn2{
    border: 1px solid white;
    color: #ffffff;
  } .btn1:hover{
    background-image: linear-gradient(-90deg, #cf3d3c,rgba(238, 212, 66, 0.774),gold);
    border: 0px;
  }
</style>
    
    <!-- ----------------------------   hehehe   -------------------------------------------- -->
    <body style="font-family: 'Roboto';">
      <div class="container123" style=" width: 100%;height: 500px; ">
      <br> <br> <br> <br>
      <img src="\images\slider1.png" alt="Snow" style="width:100%"  class="mx-auto">
      <div class="a1">
        <!-- <h2 style="color: rgb(100, 100, 100);">Secure Password Manager</h2>
        <h4 style="color: rgb(100, 100, 100);"> Solve poor password habits easily and quickly, so you can secure every account with one, simple login.</h4> -->
        <% if (!loginUser) {%>
        <a href="/signup"> <button type="button" class="btn btn-outline-danger" style="width: 300px; font-weight: 500; ">Become A Member</button> </a>
          <%}  else {%>
            <!-- <a href="/Add-password"> <button type="button" class="btn btn-outline-danger" style="width: 300px; font-weight: 500;">Add Details</button> </a> -->
            <%}%>
      </div>
    </div>      

    <div class="row mx-auto">
      <div class="col-lg-7" style="padding: 1px 50px; margin-top: 15px;">
        <div style="position: relative; top: 15%; left: 8%;">
        <h1 style="font-weight: bolder; font-size: 50px;"> <strong> Eliminate blood </strong> </h1>
        <h1 style="font-weight: bolder; font-size: 50px; display: inline-block;"> <strong> scarcity in <span style="color: green;">PAKISTAN</p>  </strong> </h1> <h4 style="display: inline-block;">by</h4>
        <h4> donating your time to make an impact, your blood to save lives or your money to create a holistic blood management cycle. </h4>
      </div>
      </div>
      <div class="col-lg-5" >
        <img src="\images\Schedule your blood donation .png" alt="Schedule your blood donation" class="col-lg-12" style="border-radius: 30px;">
      </div>
    </div>
    <div class="row mx-auto" style="margin-top: 25px;">
      <div class="col-lg-7">
        <img style="left: 10%; width: 650px; height: 300px;" src="\images\Untitled-3.png" alt="Untitled-3.png" class="col-lg-12" style="border-radius: 30px;">
      </div>
      <div class="col-lg-5" style="padding: 1px 50px;">
        <div style="position: relative; top: 15%;">
        <center>
          <h4 style="width: 400px; text-align: center;"> In developing countries like <span style="color: green;">PAKISTAN</span>, patients’ families have the burden and stress of managing and transporting blood themselves.</h4>
        <h2 style="text-align: center;">We are on a <span style="color: #cf3d3c;">mission to change</span> that.</h2>
        </center>
      </div>
      </div>
    </div>
    
    <div class="row mx-auto" style="margin-top: 125px;">
      <div class="col-lg">
        <center>
            <h1 style="text-align: center;">How do we tackle the blood search and shortage crisis?</h1>
            <br>
            <h4 class="col-8" style="text-align: center;">With the right donor data management and blood stock management, HLB works closely with blood banks to maintain their information and also recruit, engage and retain donors as per the demand. Folks in search of blood can get access to blood availability info.</h4>
        </center>
      </div>
    </div>
    
    <div class="container mx-auto">
      <div class="row mx-auto">
      <div class="col-lg" style="padding: 1px 50px; margin-top: 70px;">
        <div style="position: relative; top: 15%; left: -03%;">
          <h1>Meet Our Team</h1>
      </div>
      </div>
      </div>
      <div class="row mx-auto d-flex justify-content-around">
        <div class="col-2.5">
           <img src="\images\Mustafa.png" alt="Mustafa" width="250px" height="250" style="border-radius: 15px; border: none;">
           <h3 class="text-center"> Muhammad Mustafa </h3> 
        </div>
        <div class="col-2.5">
           <img src="\images\Bilquees.png" alt="Bilquees" width="250px" height="250" style="border-radius: 15px; border: none;">
           <h3 class="text-center"> Bilquees Bano </h3> 
        </div>
        <div class="col-2.5">
           <img src="\images\Raheel.png" alt="Raheel" width="250px" height="250" style="border-radius: 15px; border: none;">
           <h3 class="text-center"> Syed Raheel </h3> 
        </div>
        <div class="col-2.5">
           <img src="\images\Ahsan.png" alt="Ahsan" width="250px" height="250" style="border-radius: 15px; border: none;">
           <h3 class="text-center"> Ahsan Iqbal </h3> 
           </div>
      </div>
    </div>

    <section class="cta_part section_padding" style="padding:150px 0 !important;" >
      <div class="container"style="height: 600px; background-image: url('/images/v2v.png');">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="cta_text text-center text-white">
              <h2>Contact Us</h2>
              <p>
                Fill in the form and send us your details.<br />Someone will get back to you asap. If
                it’s an emergency, <br />call us @ +92 0123456789 or msg us at
                <a href="https://www.facebook.com/" target="_blank"
                  style="color:white !important;font-weight:bold;font-weight:20px !important">Facebook</a>
              </p>
              <a href="/Need-Blood" target="_blank" class="btn1 btn" style="padding: 20px;">Request
                Blood</a>
              <a href="/donationRequest" target="_blank" class="btn2 btn" style="padding: 20px;">Donate Blood Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>
</html>
