<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Footer icon -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
      <!-- font  family -->
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

          <style>
            .btn1:hover {
      color: white;
      background-color: #d9534f;
    }
    .btn1 {
      color: #d9534f;
      border: 0.5px solid #d9534f;
      background-color: antiquewhite;
    }
      </style>
        
    <!-- ----------------------------   hehehe   -------------------------------------------- -->
    <body style="font-family: 'Roboto';  background-color: #ffffff">
      <header style="background-color: #cf3d3c;">
        <div class="row mx-auto a3">
          <div class="col-lg-4 a3_1" style="border: steelblue;">
          <center>
            <br>
           <img src="/images/logoTest.png" alt="logo" width="150px" height="100px" style="margin-top: 8px">
          </center>
          </div>
          <div class="col-lg-4 a3_1" style="border:  blue;">
            <div class="row mx-auto">   
            <div class="col" id="userImage" style="margin: 0px auto; color: white;">
              <center>
               
                
                <% if (loginUser) {%>
                      <% if (loginUserGender == 'male' || loginUserGender == 'Male' ) {%>
                        <br>
                        <img src="/images/maleUser.png" alt="male pic" style="max-width: 100px; max-height: 80px;">
                        <% } else { %>
                          <br>
                          <img src="/images/femailUser.png" alt="femail pic" style="max-width: 100px; max-height: 80px;">
                          <% } %> 
                          <p> <%=loginUser%> </p>
                <% } else { %>
                  <br>
                   <img src="/images/user-transparent.png" alt="img" style="max-width: 100px; max-height: 80px;">
                <% } %>
              </center>
            </div>
          </div>
        </div>
         
        <div class="col-lg-4 a3_1" style="border: red; margin-top: 5%;">
            
          <center>
            <span class="span1">
            <% if (loginUser) {%>
             <h4 > &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; <a  style="color: white;" href="/logout"> Logout </a> &nbsp; &nbsp; &nbsp; </h4>
           <% }  else { %>
            <h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a  style="color: white;" href="/signup"> Register </a> &nbsp; <a  style="color: white;" href="/login"> Login </a> </h4>
            <%  }  %>
          </span>
          </span>
          </center>
      </div>
      </div>
    </header>       
        <!-- -------------------------------------------- -->

    <!--  s t a r t   o f    f o r m   -->
    <br> <br>   <br>
    <div class="mx-auto" >
      <div class="row mx-auto" >
        <div class="loginbox mx-auto col-lg-5 col-sm-7 mx-auto" style="background-color: antiquewhite; margin: 15px auto; border-radius: 20px;">
          <center>
            <h1>  Need Blood Donation  </h1>
    
          </center>
                 <form style="border-top: grey 2px  groove;" action="/Need-Blood" id="passwordForm" method="POST">
                    <% if(msg != ''){ %>
                      <br>
                      <div class="alert alert-success alert-dismissible">
                        <strong>      
                    <%= msg %>
                        </strong>
                    </div>
                      <% } %>
                    <br>
                    <div class="mb-3">
                      <label for="validationServerUsername">Username</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-user"></span> </span>
                        </div>
                        <input style="background-color: white;" type="text" class="form-control" disabled value= <%= loginUser %> placeholder="" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Enter category of password.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Blood Group</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon  glyphicon-star-empty"></span> </span>
                        </div>
                        <select class="form-control" name="Blood_Group" style="height: 30px;">
                            <option selected>Select Blood Group</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                          </select>
                        <div class="invalid-feedback">
                          Please enter correct password.
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="validationServerUsername">Blood Cell</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-envelope"></span> </span>
                        </div>
                        <input type="text" class="form-control " name="Blood_Cell" placeholder="like: 50, 500, 5000" aria-describedby="inputGroupPrepend3" >
                        <div class="invalid-feedback">
                          Enter category of password.   
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Weight</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-envelope"></span> </span>
                        </div>
                        <input type="text" class="form-control " name="Weight" placeholder="Enter weight in KG" aria-describedby="inputGroupPrepend3" >
                        <div class="invalid-feedback">
                          Enter category of password.   
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationServerUsername">Height</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3"><span class="glyphicon glyphicon-envelope"></span> </span>
                        </div>
                        <input type="text" class="form-control " name="Height" placeholder="Enter height in cm" aria-describedby="inputGroupPrepend3" >
                        <div class="invalid-feedback">
                          Enter category of password.   
                        </div>
                      </div>
                    </div>
                    <br>
                      <div class="col">
                          <button class="btn1 btn btn-lg btn-block" type="submit" value="Add categore">S u b m i t</button>
                      </div>
                      <br>
                      <br>
                    </form>
                  
                </div>
                </div>
              </div>
        <!--    e n d   o f   f o r m    -->
          

<!-- ------------------------------------------------------------- -->
    
<div class="page-wrapper chiller-theme toggled" style="height: auto;">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" style="background-color: #ffffff;">
    <div class="sidebar-content" style="background-color: #ffffff;">
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu" style="color: #cf3d3c;">
            <div id="close-sidebar"  style="color: #cf3d3c;">
              <br>
              <div class="row mx-auto">
              <div class="col"  style="color: #cf3d3c;">General</div><div class="col"></div> <div class="col"><p  style="float: right;"><i class="fas fa-times"></i></p> </div>
            </div>
          </div>
          </li>
          <li class="sidebar-dropdown " >
            <a href="/" style="color: #cf3d3c;">
              <i class="fa fa-tachometer-alt"></i>
              <span  style="color: #cf3d3c;">Home</span>
            </a>
          </li>
          <li class="sidebar-dropdown" style="color: #cf3d3c;">
            <a href="/blood_stock" style="color: #cf3d3c;">
              <i class="fa fa-shopping-cart"></i>
              <span style="color: #cf3d3c;">Blood Stock</span>
            </a>
          </li>
          <li class="sidebar-dropdown" style="color: #cf3d3c;">
            <a href="#" style="color: #cf3d3c;">
              <i class="far fa-gem" ></i>
              <span style="color: #cf3d3c;">Help Section</span>
            </a>
            <div class="sidebar-submenu" style="color: #cf3d3c;">
              <ul>
                <li>
                  <a style="color: #cf3d3c;" href="/donationRequest">Donation Request</a>
                </li>
                <li>
                  <a  style="color: #cf3d3c;" href="/Need-Blood">Need Blood</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="/donor" style="color: #cf3d3c;">
              <i class="fa fa-chart-line"></i>
              <span  style="color: #cf3d3c;">View Donors</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="/accepters" style="color: #cf3d3c;">
              <i class="fa fa-globe"></i>
              <span style="color: #cf3d3c;">View Accepters</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
  
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
 <!--::footer_part start::-->
 <footer class="footer_part">

  <br><br><br>
  <br><br><br>
    <div class="container">
      <div class="row" >
        <div class="col-sm-6 col-lg-3">
          <div class="single_footer_part" >
            <a href="/" class="footer_logo_iner">
              <img src="/images/logoTest2.png" width="150px" height="100px" alt="hamrolifebank_logo_dark" />
            </a>
            <h4>About Us</h4>
            <p style="color: #666;">
              A social initiative for a smart, transparent and holistic blood management service from
              collection to supply.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="single_footer_part">
            <h4>Contact Info</h4>
            <p style="color: #666;">Address : A-123, Block-123,<br />Karachi, Pakistan.</p>
            <p style="color: #666;">US Address : 12723 GORMAN <br />CIR BOYDS, MD 20841</p>
            <p style="color: #666;">Phone : +92 1234567890</p>
            <p style="color: #666;">Email : <a style="color: #444;" href="mustafaalvi21@gmail.com">team@bloodtransfusion.com</a></p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="single_footer_part">
            <h4>Resources</h4>
            <ul style="color: #666;" class="list-unstyled">
              <li>Blood basics </li>
              <li>Blood bank information </li>
              <li>When you need blood </li>
              <li>Reports </li>
              <li>Videos </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="single_footer_part">
            <h4>Newsletter</h4>
            <p style="color: #666;">
              Subscribe to our Newsletter and get the latest updates about
              <span class="hamro">Blood Transfusion</span>
              Lifebank.
            </p>
          </div>
          <br />
          <div>
                <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                 <li style="width: 40px; height: 40px;"><a href="https://www.facebook.com/profile.php?id=100009246540814"  class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                 <li style="width: 40px; height: 40px;"><a href="https://mail.google.com/mail/u/0/#inbox" class="icogoogle" title="Google"><i class="fa fa-google"></i></a></li>
                 <li style="width: 40px; height: 40px;"><a href="https://github.com/MustafaAlvi21" class="icogithub" title="Github"><i class="fa fa-github"></i></a></li>
                </ul>
          </div>
        </div>
      </div>
      <hr />
  
      <div class="row">
        <div class="col">
          <div class="copyright_text">
           <center>
              <P>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  <a id="rumsan" href="https://rumsan.com/" target="_blank">Musto Developers</a>
                  | All rights reserved |
                  <a href="/privacy-policy" target="_blank" id="rumsan">Privacy Policy</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </P>
           </center>
          </div>
        </div>
       
      </div>
    </div>
  </footer>
   
  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            jQuery(function ($) {
    
    $(".sidebar-dropdown > a").click(function() {
    $(".sidebar-submenu").slideUp(200);
    if (
    $(this)
      .parent()
      .hasClass("active")
    ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
    } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
    }
    });

    $("#close-sidebar").click(function() {
    $(".page-wrapper").removeClass("toggled");
    });
    $("#show-sidebar").click(function() {
    $(".page-wrapper").addClass("toggled");
    });
    });
  </script>
</body>
</html>
